/* App.css */

:root {
  --board-background-color: #003366;
  /* light dark Blue */
  --grid-line-color: #cccccc;
  /* Medium Grey */
  --player-1-color: #ff3333;
  /* Red */
  --player-2-color: #ffd700;
  /* Yellow */
  --column-hover-color: #001f3f;
  /* darker Blue #003366*/
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.menu {
  text-align: center;
  margin: auto;
  margin-top: 100px;
  width: 450px;
  padding: 20px;
  border: 10px solid var(--board-background-color);
  /* Adjust the color as needed */
  border-radius: 10px;
  /* Add border radius for rounded corners */
  box-shadow: 3px 3px;
}


.menu h1 {
  color: #333;
  margin-bottom: 2rem;
}

a {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: var(--board-background-color);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.menu a:hover {
  background-color: var(--column-hover-color);
  box-shadow: 1px 1px #000;
}

.link:hover {
  box-shadow: 1px 1px;
}

.main-connect4 {
  /* margin-top: 4rem; */
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
}

.submenu {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  margin-top: 2rem;
}

/* Add these styles to your CSS file */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 20px;
}

.menu-content a {
  text-align: center;
  margin: 5px;
}

.menu-content a:hover {
  background-color: var(--column-hover-color);

}

button {
  padding: 10px;
  font-size: 1rem;
  background-color: var(--board-background-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--column-hover-color);
}

.turn {
  font-size: 1.2rem;
}

.turn-1 {
  color: var(--player-1-color);
}

.turn-2 {
  color: var(--player-2-color);
}

.difficulty {
  margin: 5px;
  /* border: 5px solid var(--column-hover-color); */
}

.difficulty h4 {
  margin-bottom: 10px;
}

.difficulty-options {
  display: flex;
  justify-content: space-between;
}

.difficulty-options label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.difficulty-options input {
  margin-right: 5px;
  cursor: pointer;
}

.menu-content button {
  margin: 5px;
}

.redBtn {
  background-color: var(--player-1-color);
}

.redBtn:hover {
  background-color: #be1616;
}

.greenBtn {
  background-color: #4caf50;
}

.greenBtn:hover {
  background-color: #45a049;
}

.menu-content select {
  margin: 5px;
}

.board {
  padding: 0 10px;
  background-color: var(--board-background-color);
  width: 510px;
  margin: 50px;
  text-align: center;
  display: flex;
  border-radius: 10px;
  border: 1px solid var();
  overflow: hidden;
}

.board button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.board button:hover {
  background-color: #4285f4;
  color: white;
}


.cell.player-1 {
  background-color: var(--player-1-color)
    /* Other player-1 styles */
}

/* Styles for player-2 cells */
.cell.player-2 {
  background-color: var(--player-2-color)
    /* Other player-2 styles */
}

/* Default cell styles */
.cell {
  width: 60px;
  height: 60px;
  /* border: px solid #000; */
  box-shadow: inset 0px 4px #000;
  /* make it rounded */
  border-radius: 50%;
  margin: 5px;
  background-color: white;
  /* Other default cell styles */
}

.column {
  background-color: var(--board-background-color);
  transition: background-color 0.2s ease-in-out;
  padding: 10px 0;
}

.column.disabled {
  background-color: #cccccc;
  cursor: not-allowed !important;
}

.column:hover {
  background-color: var(--column-hover-color);
  cursor: pointer;
}

button.inactive {
  background-color: #cccccc;
  color: white;
}