@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 299 69% 99%;
    --foreground: 299 55% 5%;
    --card: 299 69% 99%;
    --card-foreground: 299 55% 5%;
    --popover: 299 69% 99%;
    --popover-foreground: 299 55% 5%;
    --primary: 299 2% 31%;
    --primary-foreground: 299 2% 91%;
    --secondary: 59 2% 31%;
    --secondary-foreground: 59 2% 91%;
    --accent: 179 2% 31%;
    --accent-foreground: 179 2% 91%;
    --destructive: 10 94% 45%;
    --destructive-foreground: 0 0% 100%;
    --muted: 59 14% 86%;
    --muted-foreground: 59 3% 32%;
    --border: 299 15% 91%;
    --input: 299 15% 91%;
    --ring: 299 2% 31%;
    --radius: 1rem;
  }

  .dark {
    --background: 299 56% 3%;
    --foreground: 299 24% 99%;
    --card: 299 56% 3%;
    --card-foreground: 299 24% 99%;
    --popover: 299 56% 3%;
    --popover-foreground: 299 24% 99%;
    --primary: 299 2% 31%;
    --primary-foreground: 299 2% 91%;
    --secondary: 59 2% 31%;
    --secondary-foreground: 59 2% 91%;
    --accent: 179 2% 31%;
    --accent-foreground: 179 2% 91%;
    --destructive: 10 94% 58%;
    --destructive-foreground: 0 0% 100%;
    --muted: 59 14% 14%;
    --muted-foreground: 59 3% 68%;
    --border: 299 15% 11%;
    --input: 299 15% 11%;
    --ring: 299 2% 31%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}